<head>
  <style type="text/css">
  	.navbar > a {
  		color: #48D1CC;
  	}
  	a:link {
    	text-decoration: none;
    }
    
	a:visited {
		text-decoration: none;
	}
	a:hover {
    	text-decoration: underline;
    	color: white;
    }
	a:active {
    	text-decoration: none;
	}
    body {
	  	text-align: center;
	    color: purple;
	    background-color: #48D1CC; 
		font-family: Georgia;
		margin: 0;
		padding: 0;
	}
	ul.navbar {
		background-color: purple;
		color: black;
		text-align: left;
		margin: 0;
		width: 100%;
		height: 70px;
		font-size: 2.5em;
	}

  </style>
</head>

<body>
	<ul class="navbar">
	  <a href="index.html">Home</a>
	  <a href="about.html">About Me</a>
	</ul>

	<h1 style="font-size:3.5em">About Me</h1>

	<p style="color:blue;font-size:1.5em" >Born and Raised</p>

	<img src="http://www.wahiawageneral.org/WGHHome40pct.jpg" width=400 height=250/> 
	<img src="http://perdiemhotels.com/wp-content/uploads/2011/11/honolulu-hawaii-hotels.jpg" width=400 height=250/>

	<p style="color:crimson;font-size:1.5em" >School and Work</p>
	<a href="http://www.uga.edu/"> 
		<img src="http://upload.wikimedia.org/wikipedia/commons/6/67/UGA$!logo.png" width=250 height=225/> 
	<a href="http://www.gsu.edu/"> 
		<img src="http://www2.gsu.edu/~wwwfhb/gsu-logo.gif" width=300 height=225/> 
	<a href="http://www.careerbuilder.com/"> 
		<img src="http://haapc.org/Resources/Pictures/Careerbuilder%20logo%202.jpg" width=250 height=225/>

	<p style="color:black;font-size:1.5em" >Family and Friends</p>

	<img src="<%= image_path("family.JPG")  %>" width=275 height=225/>
	<img src="<%= image_path("jacob.JPG")  %>" width=275 height=225/> 
	<img src="<%= image_path("girls1.JPG")  %>" width=275 height=225/> 
	<img src="<%= image_path("friend1.JPG")  %>" width=275 height=225/> 
	<img src="<%= image_path("heidi.JPG")  %>" width=275 height=225/>

	<p style="color:blue;font-size:1.5em" >Hobbies and Interests</p>
	<p style="color:white">Cooking, Traveling, and Sports</p>

	<img src="<%= image_path("beach.JPG")  %>" width=175 height=175/> 
	<img src="<%= image_path("charles.JPG")  %>" width=175 height=175/> 
	<img src="<%= image_path("chicago.JPG")  %>" width=175 height=175/>
	<img src="<%= image_path("pasta.JPG")  %>" width=175 height=175/>
	<img src="<%= image_path("bulldog.JPG")  %>" width=175 height=175/>
	<img src="<%= image_path("pr.JPG")  %>" width=175 height=175/>

	<p>
	<img src="<%= image_path("no.JPG")  %>" width=175 height=175/>
	<img src="<%= image_path("soup.JPG")  %>" width=175 height=175/>
	<img src="<%= image_path("florida.JPG")  %>" width=175 height=175/>
	<img src="<%= image_path("destin.JPG")  %>" width=175 height=175/>
	<img src="<%= image_path("giants.JPG")  %>" width=175 height=175/>
	<img src="<%= image_path("fish.JPG")  %>" width=175 height=175/>
	<img src="<%= image_path("soccer.JPG")  %>" width=175 height=175/>

	
</body>